.main-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--reverse-variant);
    border-bottom: 2px solid var(--reverse-variant);
    box-shadow: 0px 0px 20px black;
    .logo-container{
        padding: 5px;
        margin: 0 15px;
        img{
            height: 7vh;
            width: auto;
            background-color: rgb(255, 255, 255);
            border-radius: 50%;
        }
    }
    .list-container{
        background-color: var(--reverse-variant);
        display: flex;
        flex-direction: column;
        
        position: fixed;
        top: 60px;
        right: 0px;
        width: 40vw;
        height: 91vh;


        transition: 0.5s;
        nav:nth-child(1){
            a{
                color: var(--reverse-text-color);
                text-decoration: none;
                font-size: 1.1em;
                display: block;          
                border-bottom: 1px solid var(--base-variant);
                margin: 10px 15px; 
                &.activo{
                    font-size: 1.4em;
                    background-color: var(--base-variant);
                    color: var(--text-color);
                    border-radius: 10px;
                    padding: 5px;
                    font-weight: 600;
                }
            }
        } 

    }
    .burguerIcon{
        background-color: var( --base-variant );
        fill:var( --reverse-variant );
        height: 5vh;
        width: auto;
        padding: 5px;
        margin: 0 20px;
        border-radius: 50%;
    }
}
#contacto{
    display: none;
}
.list-container {
    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}
.list-container.open {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
}
@media (min-width: 768px){
    .main-header{
        background-color: rgb(19, 19, 19);
        justify-content: flex-start;
        #contacto{
            display:block;
        }
        .burguerButton{
            display: none;
        }
        .logo-container{
            margin: 10px 25px;
        }
        div:nth-of-type(2){
            display: flex;
            justify-content: space-between;
            margin-left: -5%;
            width: 100%;
            .list-container{
                all: unset;
                margin-left: 6%;
                nav{
                    display: flex;
                    flex-direction: row;
                    list-style-type: none;
                    align-items: center;
                }
            }
            #contacto{
                align-items: end;
                ul{
                    display: flex;
                    list-style: none;
                    margin-right: 10px;
                    li{
                        margin: 5px;
                        img{
                            height: 40px;
                        }                
                    }
                }           
            }    
        }      
    }
}

