.main-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--reverse-variant);
    border-bottom: 2px solid var(--reverse-variant);
    box-shadow: 0px 0px 20px black;
    .logo-container{
        margin: 1rem;
        img{
            height: 6vh;
            width: auto;
            background-color: rgb(255, 255, 255);
            border-radius: 50%;
        }
    }
    .list-container{
        background-color: var(--reverse-variant);
        display: flex;
        flex-direction: column;
        
        position: fixed; /* O absolute si lo necesitas relativo a un contenedor */
        top: 70px;
        right: 0px;
        width: 40vw;
        height: 90vh;


        transition: 0.5s;
        ul:nth-child(1){
            list-style-type: none;
            li{
                border-bottom: 1px solid var(--base-variant);
                margin: 10px 15px; 
                a{
                    color: var(--reverse-text-color);
                    text-decoration: none;
                    font-size: 1.5em;
                    display: block;               
                }
                
            }
        } 
        div:nth-child(2){
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: auto;
            ul{
                display: flex;
                li{
                    border-bottom: none;
                    margin: 4px 5px;
                    img{
                        height: 40px;
                    }
                }
            }
        }
    }
    .burguerIcon{
        background-color: var( --base-variant );
        fill:var( --reverse-variant );
        width: 30px;
        height: auto;
        padding: 5px;
        margin: 0 20px;
        border-radius: 50%;
    }
}
#contacto{
    display: none;
}
.list-container {
    transform: translateY(100%);
    opacity: 0;
    pointer-events: none;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}
.list-container.open {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
}


@media (min-width: 768px){
    .main-header{
        background-color: rgb(19, 19, 19);
        #contacto{
            display:block;
        }
        .list-container {
            all: unset;
            display: block;
        }
        >img{
            height: 6vh;
            width: auto;
            background-color: rgb(255, 255, 255);
            border-radius: 50%;
        }
        .burguerButton{
            display: none;
        }
        .list-container{
            margin-left: 12%;
            ul{
                display: flex;
                flex-direction: row;
                list-style-type: none;
                align-items: center;
                li{
                    margin: 0 7px;
                    /*Nav buttons*/
                    a {
                        
                        appearance: none;
                        background-color: var(--base-variant);
                        border: 2px solid var(--reverse-variant);
                        border-radius: 15px;
                        box-sizing: border-box;
                        color: var(--text-color);
                        cursor: pointer;
                        display: inline-block;
                        font-size: 16px;
                        font-weight: 600;
                        line-height: normal;
                        margin: 0;
                        min-height: 60px;
                        min-width: 0;
                        outline: none;
                        padding: 16px 24px;
                        text-align: center;
                        text-decoration: none;
                        transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
                        user-select: none;
                        -webkit-user-select: none;
                        touch-action: manipulation;
                        width: 100%;
                        will-change: transform;
                        &:disabled {
                            pointer-events: none;
                        }
                        &:hover {
                            color: var(--reverse-text-color);
                            background-color: var(--reverse-variant);
                            box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
                            transform: translateY(-2px);
                        }
                        &:active {
                            box-shadow: none;
                            transform: translateY(0);
                        }
                    }
                }
            }
        }
        #contacto{
            ul{
                display: flex;
                list-style: none;
                margin-right: 10px;
                li{
                    margin: 5px;
                    img{
                        height: 40px;
                    }                
                }
            }           
        }         
    }
}

