div{
   background-color: var(--base-variant);  
    ul{
        column-count: 2;
        align-items: center;
        list-style: none;
        margin-left: 30%;
        li{
            margin-top: 10px;
            margin-bottom: 5px;
            img{
                height: 30px;
            }
            .big-icon{
                width: 6vh;
                height: auto;
            }  
        }
        li:nth-child(3){
            margin-left: -10%;
        }
        li:nth-child(5){
            margin-left: 10%;
        }
    }
}