div{
   background-color: var(--base-variant);  
    ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        list-style: none;
        li{
            margin-top: 15px;
            img{
                height: 30px;
            }
        }
    }
}