.body{
    padding: 1.5rem 1rem;
    margin: auto;
    .listas{
        display: flex;
        flex-direction: column;
        margin: 2%;
        margin-top: 5%;
        .tec {
            display: flex;
            justify-content: space-between;
            max-width: 600px;
            margin: 0 auto;

            .col {
                list-style: none;
                padding: 0;
                margin: 0;
                width: 50%; // Asegura que ambas columnas ocupen el 50% del ancho
                .separator{
                    position: relative;
                    ::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 1px;
                        height: 100%;
                        background-color: black;
                    } 
                }
            }
        }
    }
    ul{
        list-style: none;           
        margin-top: 1rem;
        li{
            padding: 0 10px;
        }
    }   
}   

@media (min-width: 768px) {
    .body{
        margin: 2% 8rem;
        .tec{
            width: 25em;
        }
        .listas{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            div:nth-of-type(2){
                width: 25em;
            }
        }   
    }
}
