.body{
    padding: 1.5rem 1rem;
    margin: auto;
    h1{
        font-size: 1.8rem;
        margin-bottom: 1.2rem;
        text-align: center;
        font-weight: 800;
        border-bottom: 2px solid #333;
        padding-bottom: 0.5rem;
    }
    h2:nth-of-type(1){
        text-align: left;
        font-size: 0.9em;
    }
    h2:nth-of-type(2){
        font-size: 1.5em;
        margin-bottom: 0.5rem;
    }
   >p{
        text-align: justify;
        font-size: 0.9em;
        margin-bottom: 0.5rem;
    }
    .listas{
        display: flex;
        flex-direction: column;
        margin: 2%;
        margin-top: 5%;
        h2{
            text-align: center;
            font-size: 2em;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
        p{
            text-align: center;
        }
        .tec {
            display: flex;
            justify-content: space-between;
            max-width: 600px;
            margin: 0 auto;

            .col {
                list-style: none;
                padding: 0;
                margin: 0;
                width: 50%; // Asegura que ambas columnas ocupen el 50% del ancho

                &.izquierda {
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 1px;
                    height: 100%;
                    background-color: black;
                }

                li p {
                    text-align: left;
                    padding-right: 10px; // Espacio para separar del borde
                }
                }

                &.derecha li p {
                text-align: right;
                padding-left: 10px; // Espacio para separar del borde
                }
            }
        }

        ul{
            list-style: none;           
            margin-top: 1rem;
            li{
                padding: 0 10px;
            }
        }   
    }   
}
@media (min-width: 768px) {
    .body{
        margin: 2% 8rem;
        h1{
            font-size: 3em;
        }
        h2:nth-of-type(1){
            font-size: 1.5em;
        }
        h2:nth-of-type(2){
            font-size: 2em;
        }
        p{
            font-size: 1.1em;
        }
        .listas{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            h2{
                font-size: 1.5em;
            }
        }   
    }
}
