.container{
    padding: 1.5rem 1rem;
    margin: auto;
    img{
        width: 100%;
        height: auto;
    }
    >div{   
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        text-align: justify;
        p:nth-child(1){
            font-size: 1.5em;
            margin-top: 0.6em;
        }        
        h1{
            font-size: 1.9em;
            margin-bottom: 0.3em;
        }
        h2{
            font-size: 1.3em;
            margin-bottom: 0.2em;
        }
    } 
    
}

@media (min-width: 1024px){
    .container{
        padding: 2% 0 0 0;
        display: flex;
        flex-direction: row;
        
        height: 100%;
        img{
            height: 700px;
            width: auto;
        }
        >div{   
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            margin-left: 2%;
            p:nth-child(1){
                font-size: 1.5em;
            }        
            h1{
                font-size: 4em;
                margin-bottom: 10%;
            }
            h2{
                font-size: 2em;
                margin-bottom: 1%;
            }
        } 
        
    }
}
