@media (max-width: 575px){
    .container{
        display: flex;
        justify-content: center;     
        img{
            margin-top: 10%;
        }   
    }
}
@media (min-width: 576px){
    .container{
        display: flex;
        justify-content: center;     
        img{
            margin-top: 10%;
        }   
        h1, h2,p{
            position: absolute;
        }
        .name{
            left:25%;
            top: 20%;
        }
        .titulo{
            left: 60%;
            top: 25%;
        }
        p{
            left: 60%;
            top: 33%;
            margin-right: 200px;
        }
    }
}