.body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.header{
    position: sticky;
    top: 0;
    background-color: var(--base-color);
    height: 10vh;
}
.content{
    flex: 1;
    width: 80%;
    margin-left: 10%;
    min-height: 80vh;
}
.contact{
    z-index: 1;
}
@media (min-width: 768px){
    .contact{
        display: none;
    }
    .content{
        width: 80%;
        margin-left: 10%;
        min-height: 90vh;
    }
}