.experience-section {
    padding: 1.5rem 1rem;
    margin: auto;
    .job {
        margin-bottom: 3rem;
        border-left: 3px solid #333;
        padding-left: 1rem;
        ul {
            padding-left: 1.5rem;
            li {
                margin-bottom: 0.5rem;
                line-height: 1.5;
            }
        }
        button{
            background-color: var(--reverse-variant);
            color: var(--text-color);
            padding: 5%;
            border: 2px solid var(--reverse-variant);
            border-radius: 10px;
            font-weight: 600;
            margin-top: 1em;
            font-size: 1em;            
            &:active{
                background-color: var(--base-variant);
                color: var(--reverse-text-color);
                border: 2px solid var(--base-color);
            }
        }
        .display_none{
            display: none;
        }
        .readMore{
            display: block;
        }
    }
}
@media (min-width: 768px){
    .experience-section {
        margin: 2% 8rem;
        .job {
            ul {
                padding-left: 1.5rem;
                li {
                    margin-bottom: 0.5rem;
                    line-height: 1.5;
                    
                }
            }
        }
        .job button{
            padding: 1%;
            font-size: 1.5em;
            &:hover{
                background-color: var(--base-variant);
                color: var(--reverse-text-color);
                border: 2px solid var(--base-color);
            }
        }
    }
    .display_none{
        margin-top: 0.7em;
        padding-top: 0.7em;
        border-top: 1px solid #333;
    }
}